<!DOCTYPE html>
html lang="en"
  head
    meta charset="UTF-8"/
    meta name="viewport" content="width=device-width, initial-scale=1.0"/
    meta http-equiv="X-UA-Compatible" content="ie=edge"/
    title stickies
    link rel="stylesheet" href="/style/style.css"/
  body
    button.btn.btn--add Add sticky

    script src="/src/jq.js"
    script src="/src/jq-ui.js"
    script src="/src/sticky.js"
    script src="/src/script.js"
