// Variables
$f: 'Helvetica Neue', Arial, sans-serif;
$f-head: normal 500 12pt/120% $f;
$f-body: normal 400 12pt/120% $f;

$margin: 6px;
$width: 384px;

$c-bg:    #ffffff;
$c-bg-st: #feff9c;
$c-bg-li: #efefef;
$c-dark:  #212121;

$border: 2px solid $c-dark;
$shadow: 3px 3px 0px 0px $c-dark;

// Wrapper
body {
  margin: $margin * 2;
  background: $c-bg;
}

.sticky {
  padding: $margin * 2;
  width: 33.3vw;
  max-width: $width / 2;
  background: $c-bg-st;
  // border: $border;
  box-shadow: $shadow;

  &:hover { cursor: move; }

  &:not(:first-of-type) {
    margin-top: $margin;
  }
}

// Add sticky modal
.modal {
  z-index: 2;
  width:  66.6vw;
  max-width: $width;
  border: $border;
  padding: $margin;

  background: $c-bg;

  position: absolute;
  left: 50%;
  top:  50%;
  transform: translate(-50%, -50%);
}

.modalData {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);

  & input.body,
  & select.body,
  & button.body {
    padding: $margin;
    border: $border;
  }

  & input.body { height: 14pt; }

  & select.body,
  & button.body {
    height: 26pt;
    appearance: none;
  }

  & button.btn--modal { grid-column: 1 / 3; }
}

// Text
.head { font: $f-head; }

.body { font: $f-body; }

// List
ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

li {
  // background: $c-bg-li;
  padding: $margin / 2;

  &:not(:last-child) {
    margin: $margin 0;
  }
}

// Button
.btn {
  width: 100%;
  font: $f-body;
  color: $c-dark;
  padding: 2px;

  background: transparent;
  border: $border;

  &:hover {
    cursor: pointer;
    background: $c-dark;
    // color: $c-bg-st;
  }

  &--add {
    width: 50vw;
    transform: translateX(50%);
  }
}
