body {
  margin: 12px;
  background: #ffffff; }

.sticky {
  padding: 12px;
  width: 33.3vw;
  max-width: 192px;
  background: #feff9c;
  -webkit-box-shadow: 3px 3px 0px 0px #212121;
  box-shadow: 3px 3px 0px 0px #212121; }
  .sticky:hover {
    cursor: move; }
  .sticky:not(:first-of-type) {
    margin-top: 6px; }

.modal {
  z-index: 2;
  width: 66.6vw;
  max-width: 384px;
  border: 2px solid #212121;
  padding: 6px;
  background: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.modalData {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (1fr)[4];
  grid-template-rows: repeat(4, 1fr); }
  .modalData input.body,
  .modalData select.body,
  .modalData button.body {
    padding: 6px;
    border: 2px solid #212121; }
  .modalData input.body {
    height: 14pt; }
  .modalData select.body,
  .modalData button.body {
    height: 26pt;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .modalData button.btn--modal {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3; }

.head {
  font: normal 500 12pt/120% "Helvetica Neue", Arial, sans-serif; }

.body {
  font: normal 400 12pt/120% "Helvetica Neue", Arial, sans-serif; }

ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0; }

li {
  padding: 3px; }
  li:not(:last-child) {
    margin: 6px 0; }

.btn {
  width: 100%;
  font: normal 400 12pt/120% "Helvetica Neue", Arial, sans-serif;
  color: #212121;
  padding: 2px;
  background: transparent;
  border: 2px solid #212121; }
  .btn:hover {
    cursor: pointer;
    background: #212121; }
  .btn--add {
    width: 50vw;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%); }
